*.xlsx
*.shp
*.shx
*.prj
*.out
*.cpg
*.dbf
*.xml
*.csv
*checkpoint.ipynb
*.feather
*.db
*.pdf
*.docx
*.pkl
*.pickle
*.mat
raw_data
optimization_model/good_model_inputs
optimization_model/outputs
optimization_model/slurm_outputs
annual_emissions
