*.nc
*.xlsx
*.shp
*.shx
*.prj
*.out
*.cpg
*.dbf
*.xml
*.csv
*checkpoint.ipynb
*.feather
*.db
*.pdf
*.docx
*.pkl
*.pickle
*.mat
*.zarr
*.nc4
*.png
*.zip
raw_data
optimization_model/good_model_inputs
optimization_model/outputs
optimization_model/slurm_outputs
annual_emissions
ego_nonuclear_project/nonuc_normal_GC.nc4
ego_nonuclear_project/nonuc_normal_GC/
model_validation/GC_ds.nc4
model_validation/GC_ds_old.nc4
ego_nonuclear_project/final_data
ego_nonuclear_project/data
